.background-image {
    background-image: url('images/blur-bg.jpg');
    background-size: cover; /* Растягивает изображение, чтобы оно полностью покрывало элемент */
    background-position: center; /* Выравнивание изображения по центру */
    background-repeat: no-repeat; /* Запрет повторения изображения */
    height: 100vh; /* Занимает 100% высоты экрана */
   
  }